@charset "UTF-8";
/*===============메인컨테이너(가장 바깥 컨테이너)==========================*/

.main-content-container {
  background: var(--main-container-background-color);
  padding-left: 100px;
  padding-right: 100px;
}

/*본론 내용 프레임*/
#main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  /* align-items: center; */
  justify-content: space-between;
}


/*=================================notice==========================*/
.main-container{
	height: 100vh;
	background: var(--main-container-background-color);
	
}
.board-main-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}


.board_total_container{
    
    padding: 20px 32px;
}

/*공지사항 안내문구*/
.board_title_box{
	padding-top: 150px;
}

.board_title_box > h1.notice-title, #insertBtn{
	font-family: var(--font);
}


/*button_box*/
.board_button_box{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 12px;
}

.board_button_box > div{
    flex-basis: 80%;
}

#insertBtn{
    flex-basis: 20%;

    background: var(--button-background-color);
    color:var(--button-text-color);
    border-style: none;
    
    font-size: 2em; 
}

#insertBtn:hover{
    background: var(--button-hover-background-color);
    color: var(--button-hover-text-color);
}


/*page-nation*/
.board_pagenation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:  space-around;
    text-align: center;
}