@charset "UTF-8";
ul{
	list-style: none;
}

/* header */
nav#header-container{
	background-color:white;
	width:100%;
	height:145px;
	position: fixed;
	z-index: 100;
}
div#header-top{
	display:flex;
	justify-content: space-between;
	padding: 0px 13%;
	border-bottom:1px solid lightgray;
}

nav #semi-logo{
	width:50px;
	left:0;
}
div#logo{
	display: flex;
	cursor:pointer;
}
div#logo>p{
	font-weight: bold;
	font-size:18px;
	vertical-align: middle;
	padding-top:22px;
	margin-bottom:0px;
}
nav input{
	border:0px solid black;
	border-bottom:2px solid black;
	background-color:white;
	border-radius: 7px;
	width:400px;
	height:40px;
	font-weight:bold;
	font-family: "Gothic A1";
	letter-spacing: 4px;
	padding-left:20px;
	margin:18px 0px;
	font-size:13px;
}
div#icons{
	justify-content: space-between;
	margin:20px 0px;
	padding-right:20px;
	align-items: center;
}
div#icons>i{
	font-size:20px;
	padding:8px;
}
i#searchicon{
	position:absolute;
	margin-top:28px;
	margin-left:-2.3%;
	font-size:20px;
}

/* header-bottom */
div#header-bottom{
	padding:0 13%;
	border-bottom: 1px solid lightgray;
}
ul#header-menu{
	display:flex;
	justify-content: space-between;
	padding:0 13%;
	margin-top:16px;
	letter-spacing: 8px;
}
ul#header-menu>li{
	font-size:18px;
	font-family:'Gothic A1';
	font-weight: bold;
	
}







/* section */
section{
	padding-top:150px;
}
div#img-container{
	border: 1px solid red;
	width:100%;
	height:500px;
	overflow: hidden;
	text-align: center;
	display:flex;
	padding:0 13%;
}
div#img1{
	width:1000px;
}











/* footer */
/* fheader-left */
div#footer{
	width: 100%;
	height: 300px;
	background-color: #e9e9e9;
}
div#footer-header{
	border-bottom:1px solid lightgray;
	display:flex;
	justify-content: space-between;
	padding:0px 13%;
}
div#fheader-left>ul{
	list-style: none;
	margin: 10px 0px;
	padding-left:0;
}
div#fheader-left li:first-child{
	padding-left:0px;
}
div#fheader-left li{
	display: inline;
	font-size:14px;
	padding:0px 15px;
}
div#fheader-left li#right1{
	padding-right:10;
}
/* fheader-right */
div#fheader-right li{
	display:inline;
	font-size:14px;
	padding:0px 15px;

}
div#fheader-right {
	margin-top: 10px;
}

/* footer-body */
div#footer-body{
	display:flex;
	justify-content: space-between;
	padding:0px 13%;
}
/* body-left */

div#fbody-left>h3{
	margin-top: 30px;
}
div#fbody-left>p{
	font-size:11px;
	color:gray;
	line-height: 20px;	
}

/* body-right */

div#fbody-right>h4{
	margin-top: 30px;
}
div#fbody-right>p{
	font-size:11px;
	color:gray;
	line-height: 20px;
	display:inline;
}
div#fbody-right li{
	font-size:12px;
	float:right;
}
p#qrbox{
	padding-left:10px;
	font-family: "Gothic A1";
}









/* 사진 */
img#semi-logo{
	width:70px;
}
img#qr{
	width:50px;
	float:left;
}

img#main-img1{
	width:80%;
	height:500px;
	
}



