@charset "UTF-8";

/* 공용 */



/* 이미지슬라이더 */
div#carouselExampleControls{
	width: 90%;
	margin-left: 5%;
	margin-bottom:13%;
}

/*  */

div#content-banner-box{
	background-color:#f0f0f0;
}
div#content-banner{
	font-family:"Nanum Pen Script";
	display: flex;
	font-size:50px;
	padding: 10% 13% 0px 13%;
	justify-content: space-between;
}
div#content-banner-2{
	font-family:"Nanum Pen Script";
	display: flex;
	font-size:50px;
	padding: 3% 13% 10% 13%;
	justify-content: space-between;
}
div>img#p1-img{
	width:50%;
	height:40%;
}
p#p1{
	margin:0;
	padding:50px 0px;
	font-size:50px;
}
p#p2{
	margin:0;
	padding:50px 0px;
	text-align: right;
	font-size:50px;
}
p>span{
	font-size:60px;
	color:red;
}

/*  */
.main-sc9-review{
	width:60%;
	margin-left:170px;
}
.help-item1, .help-item2{
	padding-left:21px;
}


/* 공지사항 박스 */
.main-sc9-notice{
	width:60%;
}
.main-sc9-tit{
	font-size:50px;
	padding-left:21px;
}
.notice-list-item{
	border-bottom: 1px solid rgb(229, 229, 229);
}
.notice-list-item dl{
	padding: 21px 21px;
	display: flex;
	justify-content: space-between;
	color:black;
	margin-top:16px;
}
dl:hover{
	background-color:  rgb(229, 229, 229);
	border-radius: 10px;
}
dt{
	width:70%;
	overflow: hidden;
	font-family: "Nanum Gothic Coding";
}

.notice-list-item>a{
	text-decoration: none;
}
.main-sc9-tit{
	font-family: "Noto Sans KR";
	margin-bottom:10px;
}
.notice-container{
	display:flex;
	justify-content: space-between;
	padding-left: 13%;
}


/* 경기장 리스트 */
div.row, .row-cols-1, .row-cols-md-3, .g-4{
	padding:13% 13% 0px 13%;
}
div.card{
	border-bottom:2px solid lightgray;
	border-right:2px solid lightgray;
	border-radius: 1rem;
}
div.card-body{
	padding:20px;
}
.card-title{
	font-weight:bold;
	margin-bottom: 0;
	height:60px;
}
.card-body-list{
	padding-left:0;
}
.card-body-list>li{
	display: flex;
}
.sch-rslt{
	padding-left:16px;
}
li>b{
	padding-right:24px;
}
.place-name{
	margin-top:20px;
}

/* 실험쥐 */
