@charset "UTF-8";

/* 이미지슬라이더 */
div#carouselExampleControls{
	width: 90%;
	margin-left: 5%;
	margin-bottom:10%;
}


/* 공지사항 박스 */
div#notice-box1{
	padding:0px 13%;
	display:flex;
	justify-content: space-between;
}

/* 경기장 리스트 */
div.row, .row-cols-1, .row-cols-md-3, .g-4{
	padding:13% 13%;
}
div.card{
	border-bottom:2px solid black;
	border-right:2px solid black;
}
div.card-body{
	padding:20px;
}
.card-title{
	font-weight:bold;
	margin-bottom: 0;
	height:60px;
}
.card-body-list{
	padding-left:0;
}
.card-body-list>li{
	display: flex;
}
.sch-rslt{
	padding-left:16px;
}
li>b{
	padding-right:24px;
}
.place-name{
	margin-top:20px;
}





/* 실험쥐 */
